.root{
    -fx-background-image: url('Images/vieux-papier-vintage-vieux-fond-texture_34266-532.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-background-position: center;
}